[Desktop Entry]
Version=1.0
Type=Application
Name=DᴇᴄᴀTXT (Emacs/Vimperator)
Comment=in10did with Escape mapped to ctrl-[ vice versa
Exec=/home/sagemuej/.cabal/bin/decatxt -w --postremap="Escape ctrl+[" --postremap="ctrl+[ Escape"
Icon=/home/sagemuej/misc/in10did-logo.png
Path=
Terminal=false
StartupNotify=false
