[Desktop Entry]
Version=1.0
Type=Application
Name=Full brightness
Comment=
Exec=sh -c 'echo 937 | sudo tee /sys/class/backlight/intel_backlight/brightness'
Icon=
Path=
Terminal=false
StartupNotify=false
