
[Desktop Entry]
Version=1.0
Type=Application
Name=‌ 〃⸮‽¿⁂ℏҟℓ♭♮♯𝄪𝄫€□⬛–—†⚡“”»«‘’⇌°‖¦〈〉∘̶̷̵
Comment=charmapM_   — Misc symbols
Icon=accessories-character-map
Exec=charmapM_ ‌ 〃⸮‽¿⁂ℏҟℓ♭♮♯𝄪𝄫€□–—†⚡“”»«‘’⇌°‖¦〈〉∘⬛⬜̶̷̵
Path=
Terminal=false
StartupNotify=false
