
[Desktop Entry]
Version=1.0
Type=Application
Name=⁰¹²³⁴⁵⁶⁷⁸⁹⁺⁻⁼⁽⁾ʰⁱʲᵏᴵᵐⁿʳˢᵗʷˣʸᵠ
Comment=charmapM_   — Superscripts
Icon=accessories-character-map
Exec=charmapM_ ⁰¹²³⁴⁵⁶⁷⁸⁹⁺⁻⁼⁽⁾ʰⁱʲᵏᴵᵐⁿʳˢᵗʷˣʸᵠ
Path=
Terminal=false
StartupNotify=false
