
[Desktop Entry]
Version=1.0
Type=Application
Name=αβγδεζηθϑικλμνξοπρστυφϕχψω
Comment=charmapM_   — Greek small letters
Icon=accessories-character-map
Exec=charmapM_ αβγδεζηθϑικλμνξοπρστυφϕχψω
Path=
Terminal=false
StartupNotify=false
