
[Desktop Entry]
Version=1.0
Type=Application
Name=ðãñõþÿħĩĸŋűžæ
Comment=charmapM_   — Misc letter symbols
Icon=accessories-character-map
Exec=charmapM_ ðãñõþÿħĩĸŋűžæ
Path=
Terminal=false
StartupNotify=false
