
[Desktop Entry]
Version=1.0
Type=Application
Name=ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ
Comment=charmapM_   — Greek capitals
Icon=accessories-character-map
Exec=charmapM_ ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ
Path=
Terminal=false
StartupNotify=false
