
[Desktop Entry]
Version=1.0
Type=Application
Name=₀₁₂₃₄₅₆₇₈₉₊₋₌₍₎ₐₑᵢⱼₒᵣᵤᵥₓ
Comment=charmapM_   — Subscripts
Icon=accessories-character-map
Exec=charmapM_ ₀₁₂₃₄₅₆₇₈₉₊₋₌₍₎ₐₑᵢⱼₒᵣᵤᵥₓ
Path=
Terminal=false
StartupNotify=false
