
[Desktop Entry]
Version=1.0
Type=Application
Name=ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀꜱᴛᴜᴠᴡʏᴢ
Comment=charmapM_   — Latin small caps
Icon=accessories-character-map
Exec=charmapM_ ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀꜱᴛᴜᴠᴡxʏᴢ
Path=
Terminal=false
StartupNotify=false
