
[Desktop Entry]
Version=1.0
Type=Application
Name=─┼│┌┐└┘├┤┬┴┄┆┈┊═╬║╔╗╚╝╭╮╰╯
Comment=charmapM_   — Box drawings
Icon=accessories-character-map
Exec=charmapM_ ─┼│┌┐└┘├┤┬┴┄┆┈┊═╬║╔╗╚╝╭╮╰╯
Path=
Terminal=false
StartupNotify=false
