
[Desktop Entry]
Version=1.0
Type=Application
Name=𝑎𝑏𝑐𝑑𝑒𝑓𝑔𝑖𝑗𝑘𝑙𝑚𝑛𝑜𝑝𝑞𝑟𝑠𝑡𝑢𝑣𝑤𝑥𝑦𝑧
Comment=charmapM_ — Mathematical italic lowercase letters
Icon=accessories-character-map
Exec=charmapM_ 𝑎𝑏𝑐𝑑𝑒𝑓𝑔𝑖𝑗𝑘𝑙𝑚𝑛𝑜𝑝𝑞𝑟𝑠𝑡𝑢𝑣𝑤𝑥𝑦𝑧
Path=
Terminal=false
StartupNotify=false
