[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sagemuej/Desktop/CarolsCarnage.mscz]
row=6
col=1

[/home/sagemuej/Desktop/Weihnachtsmusik]
row=0
col=1

[/home/sagemuej/Desktop/JoachimBuchIllustration]
row=9
col=0

[/home/sagemuej/Desktop/IMSLP31627-PMLP71975-Paganini_trio_guitare-violon-cello_-Guitare-.pdf]
row=2
col=2

[/home/sagemuej/Desktop/Tollways.mscz]
row=4
col=2

[/home/sagemuej/Desktop/concurrent-plot.ipynb]
row=8
col=1

[/home/sagemuej/Desktop/polrot-presentation]
row=8
col=0

[/home/sagemuej/Desktop/immatrikulationsbescheinigung_bafoeg_879965_20170102142740.pdf]
row=3
col=2

[/home/sagemuej/Desktop/temperaments-compare.ipynb]
row=3
col=1

[/home/sagemuej/Desktop/bok%3A978-3-8348-2263-5.pdf]
row=7
col=0

[/home/sagemuej/Desktop/subellipse-check.svg]
row=4
col=1

[/home/sagemuej/Desktop/kozmic_2016-8.scn]
row=7
col=1

[/home/sagemuej/Desktop/DimeRiff.pdf]
row=5
col=2

[/home/sagemuej/Desktop/NuclearNorm_mainRiff.mscz]
row=6
col=0

[/home/sagemuej/Desktop/DimeSynth.mscz]
row=9
col=1

[/home/sagemuej/Desktop/FromBonn.pdf]
row=1
col=2

[/home/sagemuej/Desktop/DimeRiff.mscz]
row=0
col=2

[/home/sagemuej/Desktop/Paracumulus.mscz]
row=5
col=1

[/home/sagemuej/Desktop/Unfall_2016-11-02]
row=1
col=1

[/home/sagemuej/Desktop/Pudasaini_JGR_2012.pdf]
row=5
col=0

[/home/sagemuej/Desktop/Collapse]
row=2
col=1

[A6BE209FBE2069CF]
row=1
col=0

[7ed25799-8f8b-4ebc-aff3-42d1e3173f62]
row=0
col=0

[Rubbish Bin]
row=2
col=0

[/]
row=3
col=0

[/home/sagemuej]
row=4
col=0

