[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sagemuej/Desktop/polrot-presentation]
row=2
col=1

[/home/sagemuej/Desktop/Satellite.pdf]
row=0
col=1

[7ed25799-8f8b-4ebc-aff3-42d1e3173f62]
row=0
col=0

[A6BE209FBE2069CF]
row=1
col=0

[Rubbish Bin]
row=2
col=0

[/]
row=3
col=0

[/home/sagemuej]
row=1
col=1

