[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sagemuej/Desktop/CarolsCarnage.mscz]
row=3
col=1

[/home/sagemuej/Desktop/Weihnachtsmusik]
row=11
col=0

[/home/sagemuej/Desktop/JoachimBuchIllustration]
row=1
col=4

[/home/sagemuej/Desktop/IMSLP31627-PMLP71975-Paganini_trio_guitare-violon-cello_-Guitare-.pdf]
row=8
col=0

[/home/sagemuej/Desktop/Tollways.mscz]
row=9
col=0

[/home/sagemuej/Desktop/concurrent-plot.ipynb]
row=1
col=1

[/home/sagemuej/Desktop/polrot-presentation]
row=2
col=1

[/home/sagemuej/Desktop/Nubbel2017.scn]
row=5
col=2

[/home/sagemuej/Desktop/immatrikulationsbescheinigung_bafoeg_879965_20170102142740.pdf]
row=0
col=1

[/home/sagemuej/Desktop/temperaments-compare.ipynb]
row=5
col=5

[/home/sagemuej/Desktop/bok%3A978-3-8348-2263-5.pdf]
row=3
col=3

[/home/sagemuej/Desktop/NumPDGl0-Klips2Anmeldung.pdf]
row=6
col=1

[/home/sagemuej/Desktop/kozmic_2016-8.scn]
row=4
col=1

[/home/sagemuej/Desktop/subellipse-check.svg]
row=1
col=3

[/home/sagemuej/Desktop/NuclearNorm_mainRiff.mscz]
row=5
col=1

[/home/sagemuej/Desktop/DimeSynth.mscz]
row=7
col=0

[/home/sagemuej/Desktop/FromBonn.pdf]
row=5
col=0

[/home/sagemuej/Desktop/DimeRiff.mscz]
row=4
col=2

[/home/sagemuej/Desktop/Paracumulus.mscz]
row=10
col=0

[/home/sagemuej/Desktop/Unfall_2016-11-02]
row=2
col=3

[/home/sagemuej/Desktop/Pudasaini_JGR_2012.pdf]
row=6
col=0

[/home/sagemuej/Desktop/Collapse]
row=0
col=2

[80FAF5F1FAF5E2F8]
row=3
col=2

[3345607e-0768-41f6-8417-416cc227efee]
row=8
col=1

[7ed25799-8f8b-4ebc-aff3-42d1e3173f62]
row=0
col=0

[282E484812782E19]
row=10
col=1

[7c5e67b2-c33a-430d-9271-3fbec8733d73]
row=11
col=1

[A6BE209FBE2069CF]
row=1
col=0

[904ba608-58ab-4452-bad1-58426de5c59e]
row=1
col=2

[cc32ddfe-be1d-4ab8-aa9b-be4a8105eff5]
row=2
col=2

[fc2c5d4c-1f2b-446d-9dfc-7b091f6d43c4]
row=9
col=1

[35a3bc4e-92a9-40dd-b79a-321b1f82a4ff]
row=7
col=1

[Rubbish Bin]
row=2
col=0

[/]
row=3
col=0

[/home/sagemuej]
row=4
col=0

