[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sagemuej/Desktop/CarolsCarnage.mscz]
row=3
col=1

[/home/sagemuej/Desktop/Weihnachtsmusik]
row=0
col=4

[/home/sagemuej/Desktop/JoachimBuchIllustration]
row=1
col=4

[/home/sagemuej/Desktop/Tollways.mscz]
row=1
col=3

[/home/sagemuej/Desktop/ihaskell-kernel.json]
row=4
col=1

[/home/sagemuej/Desktop/PlutoAthena-presentation]
row=3
col=3

[/home/sagemuej/Desktop/concurrent-plot.ipynb]
row=1
col=2

[/home/sagemuej/Desktop/polrot-presentation]
row=2
col=1

[/home/sagemuej/Desktop/Nubbel2017.scn]
row=1
col=1

[/home/sagemuej/Desktop/immatrikulationsbescheinigung_bafoeg_879965_20170102142740.pdf]
row=0
col=5

[/home/sagemuej/Desktop/temperaments-compare.ipynb]
row=2
col=4

[/home/sagemuej/Desktop/Avis_VertexEnumeration.pdf]
row=0
col=3

[/home/sagemuej/Desktop/subellipse-check.svg]
row=3
col=4

[/home/sagemuej/Desktop/NumPDGl0-Klips2Anmeldung.pdf]
row=2
col=0

[/home/sagemuej/Desktop/kozmic_2016-8.scn]
row=5
col=1

[/home/sagemuej/Desktop/IMSLP31627-PMLP71975-Paganini_trio_guitare-violon-cello_-Guitare-.pdf]
row=5
col=4

[/home/sagemuej/Desktop/misc-papers]
row=4
col=3

[/home/sagemuej/Desktop/DimeSynth.mscz]
row=2
col=2

[/home/sagemuej/Desktop/NuclearNorm_mainRiff.mscz]
row=4
col=4

[/home/sagemuej/Desktop/FromBonn.pdf]
row=5
col=2

[/home/sagemuej/Desktop/DimeRiff.mscz]
row=3
col=2

[/home/sagemuej/Desktop/Paracumulus.mscz]
row=0
col=0

[/home/sagemuej/Desktop/vertex-enumeration]
row=4
col=2

[/home/sagemuej/Desktop/Unfall_2016-11-02]
row=2
col=3

[/home/sagemuej/Desktop/Pudasaini_JGR_2012.pdf]
row=1
col=0

[/home/sagemuej/Desktop/Collapse]
row=0
col=2

[7ed25799-8f8b-4ebc-aff3-42d1e3173f62]
row=5
col=3

[A6BE209FBE2069CF]
row=3
col=0

[14BE-4DD8]
row=6
col=0

[Rubbish Bin]
row=4
col=0

[/]
row=5
col=0

[/home/sagemuej]
row=0
col=1

