[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sagemuej/Desktop/Weihnachtsmusik]
row=0
col=4

[/home/sagemuej/Desktop/JoachimBuchIllustration]
row=1
col=4

[/home/sagemuej/Desktop/polrot-presentation]
row=2
col=1

[/home/sagemuej/Desktop/temperaments-compare.ipynb]
row=2
col=2

[/home/sagemuej/Desktop/subellipse-check.svg]
row=2
col=0

[/home/sagemuej/Desktop/UUNRWBTW17.pdf]
row=1
col=2

[/home/sagemuej/Desktop/misc-scores]
row=0
col=0

[/home/sagemuej/Desktop/others]
row=1
col=0

[/home/sagemuej/Desktop/misc-papers]
row=5
col=1

[/home/sagemuej/Desktop/PlutoAthena-presentation]
row=4
col=1

[/home/sagemuej/Desktop/vertex-enumeration]
row=3
col=1

[/home/sagemuej/Desktop/Collapse]
row=0
col=2

[7ed25799-8f8b-4ebc-aff3-42d1e3173f62]
row=1
col=1

[A6BE209FBE2069CF]
row=3
col=0

[Rubbish Bin]
row=4
col=0

[/]
row=5
col=0

[/home/sagemuej]
row=0
col=1

